@import "tailwindcss";

body {
  background-image: 
    linear-gradient(135deg, rgba(29, 54, 64, 0.8) 0%, rgba(90, 115, 156, 0.7) 5%, rgba(218, 225, 247, 0.6) 70%),
    url('/bg-barbershop-bg.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color: #1d3640; 
}